on init
    setenforce 0

    insmod /nand.ko
    insmod /sw-device.ko debug_mask=0xff ctp_mask=1
    insmod /sunxi-keyboard.ko
    insmod /disp.ko
    insmod /lcd.ko
    insmod /hdmi.ko

    mkdir /extsd
    mkdir /bootloader
    exec /sbin/busybox sh /sbin/init_parttion.sh

service console /sbin/busybox sh
    class core
    seclabel u:r:shell:s0
    disabled
    console

service watchdogd /sbin/watchdogd 60 20
    class core
    oneshot
    seclabel u:r:watchdogd:s0
